@import url("https://use.typekit.net/lmf3cdc.css");
/*CSS DOCUMENT*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;}

img {
    width: 100%;
}

figure {
    margin: 1em 0.5em;
}

figcaption {
    font-family: "p22-underground", sans-serif;
    font-weight: 100;
    padding: 0.75em;
}

nav ul li {
    list-style-type: none;
    display: inline;
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: "p22-underground-sc", sans-serif;
    margin: 0em 2em 0.5em 2em;
}

nav ul li a{
    text-decoration: none;
    color: #C09D00;
}

h1 {
    padding: 0.5em 1em;
}

h2, h3, h4 {
    font-family: "p22-underground-sc", sans-serif;
    text-transform: lowercase;
    margin: 0.5em;
}

h3, .about h2 {
    border-top: double;
    border-bottom: double;
    font-size: 1.2em;
    padding: 0.5em;
    margin: 1em;
}

h4 {
    padding: 0em 1em;
    font-size: 1.1em;
    margin: 0.5em;
    color: #C09D00;
}

h5{
    font-family: "p22-underground", sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    padding-top: 0.7em;
    padding-left: 0.2em;
}

p {
    font-family: "p22-underground", sans-serif;
    font-weight: 100;
    padding: 1em;
}

.about {
    margin-top: 1.5em;
}

.drinks ul, .bakedgoods ul, .cakes ul {
    list-style-type: none;
    margin: 0em 1em;
    padding: 0.5em
}

.drinks p, .bakedgoods p, .cakes p {
    padding: 0.2em;
}

footer {
    background-color: #C09D00;
    padding: 1em;
    font-family: "p22-underground-sc", sans-serif;
    text-transform: lowercase;
    color: #FFFFFF;
}
